/* Login.css */

.loginBody {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../images/banner.jpg'); /* Replace with your background image */
  background-size: cover;
  background-position: center;
}

.custom-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9); /* Adjust the opacity as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Add blur effect when modal is open */
.custom-modal.opened {
  backdrop-filter: blur(8px); /* Adjust the blur intensity as needed */
}
